.userPhoto {
  width: 150px;
  height: auto;
  border-radius: 50px;
  position: left;
}

.wrapper {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px; */
  grid-template-columns: 1fr 1fr;
}

.selected {
  font-weight: bold;
  font-size: 20px;
}

span {
  padding: 2px;
}
