* {
  text-decoration: none;
}

.header {
  grid-area: h;

  background-color: rgb(233, 235, 126);
  background-image: linear-gradient(
          rgb(152, 235, 230),
          #ebfffa
  );
}

.header img {
  width: 90px;
  height: 60px;
  margin-left: 15px;
}

header div {
display: flex;
  align-items: center;
  justify-content: space-between;
  /*float: right;*/
  font-family: Comic Sans MS;
  font-size: 30px;
  color: #4b2354;
}

.btn{
  width: 100px;
  border: none;
}

.social_log_in {
  margin-right: 20px;
}

.social_name{
  font-size: 60px;
  margin-left: 40px;
  border: 2px solid dodgerblue;
  z-index: 1;
  border-radius: 50%;
}