.App-wrapper {
  min-height: 100vh;
  display: grid;
  grid-area: h;
  grid-gap: 20px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "h h" "n c";
  background-color: #ebfffa;
}
.app-wraper-content {
}
