.items a {
  letter-spacing: 2px;
  font-family: Comic Sans MS;
  font-size: 23px;
  color: rgb(0, 0, 94);
  text-decoration: none;
}

.items a.activeLink {
  color: rgb(68, 68, 68);
  text-shadow: rgb(37, 37, 37) 0 0 1px;
}
.nav {
  grid-area: n;
  background-color:  #ebfffa;
  height: 370px;
  margin: 0px 10px;
  padding: 20px 10px;
  text-transform: uppercase;
}

.nav div {
  margin-bottom: 30px;
  border-bottom: 1.5px solid #858585;
}
